# Example env file
# Copy this file and replace with appropriate values

# Base rust image to use in builds
RUST_IMAGE=rust:1.87-slim

# Rust logging level. Pick from ["trace", "debug", "info", "warn", "error"]
# For more information:
#   https://docs.rs/tracing-subscriber/latest/tracing_subscriber/filter/struct.EnvFilter.html
RUST_LOG=debug

# Image tag prefix
IMAGE_TAG_PREFIX=$USER

# SQLX offline mode
# Comment this out if you are building in a docker environment
SQLX_OFFLINE=true

# Postgres username
POSTGRES_USER=postgres

# Postgres password
POSTGRES_PASSWORD=password

# Postgres hostname
POSTGRES_HOST=postgres

# Postgres database name. Defaults to "postgres"
POSTGRES_DB=careerbot

# Database URL
# Make sure username, password, and db name match what is defined in the variables above
# Refer to docker-compose.yml to get the host and port information
DATABASE_URL=postgres://postgres:password@postgres:5432/careerbot

# Redis hostname
REDIS_HOST=redis

# Message Queue URL
MQUEUE_URL=redis://localhost:6379

# Redis stream key
STREAM_KEY_JOBS=jobs
