# Example env file
# Copy this file and replace with appropriate values

# Base rust image to use in builds
RUST_IMAGE=rust:1.87-slim

# Rust logging level. Pick from ["trace", "debug", "info", "warn", "error"]
# For more information:
#   https://docs.rs/tracing-subscriber/latest/tracing_subscriber/filter/struct.EnvFilter.html
RUST_LOG=debug

# Image tag prefix
IMAGE_TAG_PREFIX=$USER

# Postgres User
POSTGRES_USER=postgres

# Postgres password
POSTGRES_PASSWORD=password

# Postgres database name. Defaults to "postgres"
POSTGRES_DB=careerbot

# Database URL. Replace variables in <> with appropriate values
# Make sure values match what is defined in the variables above
# Refer to docker-compose.yml to get the host and port information
DATABASE_URL=postgres://postgres:password@postgres:5432/careerbot
